<h1>Listing teams</h1> <h4>Teams with 0 members are not displayed.</h4> <p>Search for teams by name:</p>

<%= form_tag teams_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="box">
  <%= render :partial => "list", :locals => {:teams => @teams} %>
</div>

<script type="text/javascript">
  var tabber1 = new Yetii({id: 'teamsTab'});
</script>
